torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
accelerate==0.31.0
diffusers
timm
wandb
ffmpeg
ffmpeg-python
opencv-python
lpips
pytorch_fid
omegaconf
einops
decord
prefetch_generator
scikit-image
rotary_embedding_torch
transformers